[submodule "acm-terminal"]
	path = lib/acm-terminal
	url = git@github.com:twlz0ne/acm-terminal.git
[submodule "blink-search"]
	path = lib/blink-search
	url = git@github.com:manateelazycat/blink-search.git
    no-byte-compile = blink-search.el
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "emacs-aichat"]
	path = lib/emacs-aichat
	url = git@github.com:xhcoding/emacs-aichat.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "emojify"]
	path = lib/emojify
	url = https://github.com/iqbalansari/emacs-emojify
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "insert-gitmoji"]
	path = lib/insert-gitmoji
	url = git@github.com:ingtshan/insert-gitmoji.el.git
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "lsp-bridge"]
	path = lib/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
	recursive-byte-compile = true
[submodule "mind-wave"]
	path = lib/mind-wave
	url = git@github.com:manateelazycat/mind-wave.git
[submodule "misc"]
	path = lib/misc
	url = git@github.com:ingtshan/.misc.d.git
	recursive-byte-compile = true
[submodule "mpv"]
	path = lib/mpv
	url = https://github.com/kljohann/mpv.el
[submodule "org-mpvi"]
	path = lib/org-mpvi
	url = git@github.com:lorniu/org-mpvi.git
[submodule "popon"]
	path = lib/popon
	url = git@codeberg.org:akib/emacs-popon.git
[submodule "sort-tab"]
	path = lib/sort-tab
	url = git@github.com:manateelazycat/sort-tab.git
[submodule "translate-shell"]
	path = lib/translate-shell
	url = git@github.com:xuchunyang/translate-shell.el.git
[submodule "wakatime-mode"]
	path = lib/wakatime-mode
	url = https://github.com/wakatime/wakatime-mode
