[submodule "acm"]
	path = lib/acm
[submodule "acm-terminal"]
	path = lib/acm-terminal
	url = git@github.com:twlz0ne/acm-terminal.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "lsp-bridge"]
	path = lib/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "misc"]
	path = lib/misc
	url = git@github.com:ingtshan/.misc.d.git
[submodule "popon"]
	path = lib/popon
	url = git@codeberg.org:akib/emacs-popon.git
[submodule "posframe"]
	path = lib/posframe
	url = git@github.com:tumashu/posframe.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
